{% extends 'base.html' %}

{% block title %}Подробная информация{% endblock %}

{% block content %}

<div class="mt-5">
    <div class="col-md-8 mx-auto">
        <h3>{{instructor.instructor_name}}</h3>
        <h5>Список студентов</h5>
        <table class="table table-striped">
            <thead class="">
            <tr>
                <th scope="col">ФИО</th>
            </tr>
            </thead>
            {% for stud in instructor.list.all %}
            <tr>
                <td>
                    {{stud}}
                </td>
            </tr>
            {% endfor %}
        </table>
    <div class="row">
      <div class="">
        <a class="btn btn-outline-primary" href="{% url 'instructor:home' %}">Назад к списку</a>
      </div>
    </div>
    </div>





</div>



{% endblock %}